:root{
    --nav-bar-bg:#e2e8f0;
    --nav-non-active: #f1f5f9;
    --nav-active: rgb(193, 190, 190);
    --main-font:  "Montserrat", sans-serif;
}

/* ==== HEADER ==== */
.profile,
.second-set{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.profile-pic i{
    font-size: clamp(1.5rem, 2vw, 3rem);
}

/* ==== BODY ==== */

.home-main-body{
    height: 88vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    background-color: var(--nav-bar-bg);
}

.side-bar-content ul li{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.65rem;
    font-size: clamp(0,5rem, 1.2vw, 1.5rem);
    cursor: pointer;
    border: 1px solid rgb(146, 145, 145);
    background-color: var(--nav-non-active);
    font-family: var(--main-font);
}

.side-bar-content ul li:hover,
.side-bar-content ul li.active{
    background-color: var(--nav-active);
}

.side-bar-content ul li i{
    margin-right: 0.7rem;
}

.side-bar-content .fa-graduation-cap{
    margin-right: 0.5rem;
}

.content-body{
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.upper-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 2vw;
    align-items: center;
}

.student-text h2{
    font-family: var(--main-font);
}

.filter-box, .refresh-box{
    display: flex;
    flex-direction: row;
    gap: 1em;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    background-color: var(--nav-non-active);
}

.filter-text p{
    font-family: var(--main-font);
}

.home-buttons{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.lower-content{
    padding: 2vh 2vw;

}

table {
    border-collapse: collapse;
    width: 100%; 
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.refresh-btn{
    padding: 0.5rem 1rem;
    font-family: var(--main-font);
    cursor: pointer;
    background-color: var(--nav-non-active);
    border: 1px solid rgb(146, 145, 145);
}

.refresh-btn:hover{
    background-color: var(--nav-active);
}

.refresh-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==== a element default style removing */

a,
a:active,
a:visited {
    color: inherit; 
    text-decoration: none; 
}

