:root{
    --nav-bar-bg:#e2e8f0;
    --nav-non-active: #f1f5f9;
    --nav-active: rgb(193, 190, 190);
    --main-font:  "Montserrat", sans-serif;
}

/* ==== HEADER ==== */

.profile,
.second-set{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.profile-pic i{
    font-size: clamp(1.5rem, 2vw, 3rem);
}


/* ==== BODY ==== */

.remove-student-main-body{
    height: 88vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    background-color: var(--nav-bar-bg);
}

.side-bar-content ul li{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.65rem;
    font-size: clamp(0,5rem, 1.2vw, 1.5rem);
    cursor: pointer;
    border: 1px solid rgb(146, 145, 145);
    background-color: var(--nav-non-active);
    font-family: var(--main-font);
}

.side-bar-content ul li:hover,
.side-bar-content ul li.active{
    background-color: var(--nav-active);
}

.side-bar-content ul li i{
    margin-right: 0.7rem;
}

.side-bar-content .fa-graduation-cap{
    margin-right: 0.5rem;
}

a,
a:active,
a:visited {
    color: inherit; 
    text-decoration: none; 
}


.remove-student-content{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.registration-no{
    display: flex;
    flex-direction: row;
}

.remove-student-heading{
    padding: 3vh 2vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* ==== FORM ==== */

.remove-student-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3vh 2vw;
}

.remove-student-form label{
    font-family: var(--main-font);
    font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.remove-student-form input{
    padding: 0.5rem 1rem;
    font-family: var(--main-font);
    font-size: clamp(0.5rem, 1.2vw, 1rem);
    border: 1px solid black;
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.remove-student-form button{
    padding: 0.5rem 1rem;
    font-family: var(--main-font);
    font-size: clamp(0.5rem, 1.2vw, 1rem);
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--nav-non-active);
}

.remove-student-form button:hover{
    background-color: var(--nav-active);
}

.registration-no{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    padding-bottom: 0.5rem;
    align-items: center;
}

.registration-no i{
    padding-left: 1rem;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
}
